html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.root-layout {
  background-color: #000;
  height: 70px;
}

header nav {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  text-decoration: none;
  padding: 16px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.home, .about, .contact, .errorpage, .about__this, .about__that {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 100vw;
  height: 100vh;
}

.errorpage {
  position:relative
}

.errorpage a {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 30px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  background-color: teal;
  color:#fff;
  border-radius: 4px;
  cursor: pointer;
}

.display  h1{
  text-align: center;
}

.display img {
  margin: 0 auto;
  display: block;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.about__nav {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.about__nav nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about__nav a {
  text-decoration: none;
  font-size: 30px;
  width: 100px;
  background: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 0;
}

.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #000
}